
body{
    background-color: #27374D;
}

.title{
    padding: 30px;
    background-color: #0F4C75;
    color: white
}

img{
    border: 1px solid #ddd;
    border-radius: 100px;
    padding: 5px 5px;
    width: 150px;
    margin: 30px;
    margin-left: 350px;
}

.body{
    background-color: rgba(1, 6, 80, 0.25);
    background-attachment: unset;
            box-shadow: 20px 20px 20px #213555;
            font-family: Georgia;
            color: #d8e7f1;
            padding: 60px 60px;
            padding-bottom: 70px;
            margin: 200px;
            margin-bottom: 50px;
            margin-top: 30px;
            text-align: inherit;
}

h3{
    font-family: 'Courier New', Courier, monospace;
}
